CreditX-Authentication-Server/node_modules/
CreditX-Authentication-Server/.idea/
CreditX-Authentication-Service/node_modules/
CreditX-Authentication-Service/.idea/
CreditXAuthTestApp/node_modules/
CreditXAuthTestApp/.idea/
CreditXAuthenticator/node_modules/
CreditXAuthenticator/.idea/
