* {
    font-weight: bold;
}

.root-div {
    margin: auto;
    height: 100vh;

}

.main-row {
    height: 100%;
}
.my-row {
}

.my-col {
}

.img-col {
    background-image: url("landingPageImage.png");
    background-position: center;
    background-size: cover;
}

.button-row {
    height: 80%;
    padding-top: 16%;
}

.title-box {
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    margin-bottom: 5%;
    margin-top: -4%;
}

h1 {
    font-size: 3.8vh;
    text-align: center;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 2vh;
}